@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared styles */
.dark-01 {
  color: #131313;
}
.dark-02 {
  color: #424242;
}
.dark-03 {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}
.bg-primary {
  background-color: rgba(255, 144, 14, 0.1);
}
.bg-secondary {
  background-color: #fff4e7;
}
.btn-bg {
  background-color: #ff900e;
}
.display-flex {
  display: flex;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.btn-primary {
  background-color: #ff900e;
  padding: 20px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: #fff;
}
/* header styles */

/* Nav styles */
.navbar {
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.brand {
  font-size: 2.9rem;
  font-weight: 700;
}
.nav-item {
  list-style-type: none;
}
.nav-links {
  gap: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

/* banner style */
.banner-content {
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.banner-content p {
  margin: 14px;
}
.banner-img {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
  }
  .nav-links {
    gap: 10px;
  }
}
